.cartContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding-bottom: 32px;
    overflow-y: hidden;
    background-color: var(--shapes-light-92-gray);
}

.cartSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 88%;
    height: 100%;
    max-width: 1120px;
}